h1{
	margin-left: 100px;
	font-size: 40px;
}
label{
	margin-left: 100px;
	
}
input[type="text"], 
input[type="email"],
textarea{
	width :85%;
	padding:12px;
	border: 1px solid #ccc;
	border-radius:4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	margin-left: 100px;
	resize: vertical;
}

input[type="submit"]{
	background-color : black;
	color: #808080;
	padding :12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-left:100px;
}

input[type="submit"]:hover{
	background-color: #FDA474;
}

.contactForm{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding:10px;
}
	