body
{
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
}
header h1
{
	text-align: center;
}
main
{
	border: 5px solid black;
	overflow: hidden;
	height: 400px;
	
	
}
#left
{
	float: left;
	width: 50%;
	height: 95%;
	border-bottom: black solid;
	margin-bottom:1%  
}
#right
{
	float: right;
	width: 49.59%;
	border-left: solid black;
	margin-right:0;
	margin-left: 0;
	height: 95%;
	border-bottom: black solid;
	margin-bottom: 5%
	
}
.miniHeading
{
	height: 10%;
}	
.miniHeading p
{
	border-bottom: black solid;
	margin-top: 0px;
}
.middle
{
	margin-left:25%;
	margin-right: 25%;

	
}
.middle h2
{
	text-align: center;
	padding-bottom: 25px;
	
}
input
{
	margin-bottom: 10px;
}
