#bufferPage{
	float:left;
	width:1500px;
	height:590px;
	top:0;
	margin-top:-10px;
	margin-left:-10px;
	padding:20px;
	background-color:#111111;
	color:white;
	line-height:0;
	text-indent:80px;
}

.firstSentence{
	font-size: 15px;
	padding-top:200px;
}

.secondSentence{
	font-size: 50px;
	padding-top:0px;
}

.secondSentence img{
	width:80px;
	height:60px;
}

body{
	background-color:black;
}
.img img{
	margin:5px;
	float:left;
	width:100%;
	height:200px;
}
.img img:hover{
	border: 2px solid #FDA474;
}