body
{
	width: 800px;
	margin: auto;
	font-family: Tahoma, Calibri, sans-serif;
	background-color: #222;
}

#main {
	float: left;
	background-color: #333;
}
/*--------------------------MAG CODE-----------*/

#bufferPage{
	float:left;
	width:800px;
	height:200px;
	top:0;
	margin-top:-10px;
	margin-left:-10px;
	padding:20px;
	color:white;
	line-height:0;
	text-indent:80px;
}

.firstSentence{
	font-size: 15px;
}

.secondSentence{
	font-size: 50px;
	padding-top:0px;
}

.secondSentence img{
	width:80px;
	height:60px;
}

.img {
	width: 100%;
	text-align: center;
	height: 125px;
	float: left;
	margin: auto;
}

.img img{
	margin-top:5px;
	margin-bottom: 5px;
	text-align: center;
	width:800px;
	height:120px;
	border: 1px black solid;
}
.img img:hover
{
	box-shadow:2px 0px 0px 0px #FDA474, 0px 2px 0px 0px #FDA474, 0px 0px 2px 0px #FDA474,0px 0px 0px 2px #FDA474;
}


header h1
{
	text-align: center;
	height: 15%;
	color:white;
}
table
{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	border: solid #FDA474 15px;
}
table th
{
	text-align: left;
	color: white;
}
table h2
{
	text-align: center;
	color: white;
}
td
{
	padding-left: 10%;
	padding-right: 10%;
}
form
{
	padding-left: 15%;
	color: white;
}
input
{
	width:75%;
	margin-bottom: 10px;

}
input[type = submit]
{
	width: auto;
}
.header
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
/*--------------------------PANEL*/

.navbar
{
	list-style-type:none;
	margin:0px 0px 20px 0px; /* left,right,bottom,top*/
	padding:0;
	overflow:hidden;
	background-color:#333;
}
.navbar li:not(.home)
{
	float:left;
	text-decoration:none;
	border: solid #FDA474 1px;
}
.navbar li a
{
    display:block;
	text-align:center;
	padding:14px 30px;
	text-decoration:none;
	color:white;
}
.navbar li.home a
{
	display:block;
	text-align:center;
	padding:0px 0px;
	text-decoration:none;
	color:white;
	padding-right: 10px;
}
.navbar li.home
{
	float:left;
	text-decoration:none;
}

.navbar li:not(.login):not(.home) a:hover
{
	background-color:#FDA474;
}

.navbar li.login
{
	float:right;
	background-color:#FDA474;
}

.navbar .active {
	font-weight: bold;
	text-decoration: underline;
}
/*-------------------CONTENT*/

#content1
{
	width: 250px;
	height: 250px;
	float: left;
	background-color: #FDA474;
	margin: 8px;
	box-shadow: 0 0 10px white;
}

.blocktext
{
	padding-left: 7px;
	padding-right: 3px;
}
/*-------------------FOOTER*/
.footer
{
	text-align: center;
	border-top: 1px solid #FDA474;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	float: left;
	color: white;
	font-size: 14px;
}
