body
{
	width: 800px;
	margin: auto;
	font-family: Tahoma, Calibri, sans-serif;
	background-color: #222;
}

#main {
	float: left;
	width: 100%;
	background-color: #333;
	margin-left: 1em;
	margin-right: 1em;
	color: white;
}

/*--------------------------INDEX PAGE-----------*/
#bufferPage{
	float:left;
	width:100%;
	height:auto;
	top:0;
	margin: auto;
	color:white;
	line-height:0;
	text-indent:80px;
}
.house{
		padding-left: 0;
		float: left;
		width: 100%;
		list-style-type:none;
		background-color:#333;
		font-size: 2em;
}
.house li a
{
	display:block;
	text-align:center;
	padding:14px 30px;
	text-decoration:none;
	color:white;
	border-top: solid #FDA474 1px;
	border-bottom: solid #FDA474 1px;
	
}
.house li a:hover
{
	background-color:#FDA474;
}

.firstSentence{
	font-size: 15px;
}

#logo{
	padding-bottom: 50px;
}


/*--------------------------PANEL*/

.navbar
{
	width: 100%;
	float:left;
	list-style-type:none;
	margin:20px 0px 20px 0px; /* top,right,bottom,left*/
	padding:0;
	overflow:hidden;
	background-color:#333;
}
.navbar li:not(.home)
{
	float:left;
	text-decoration:none;
	border: solid #FDA474 1px;
}
.navbar li a
{
	display:block;
	text-align:center;
	padding:14px 30px;
	text-decoration:none;
	color:white;
}
.navbar li.home a
{
	display:block;
	text-align:center;
	padding:0px 0px;
	text-decoration:none;
	color:white;
	padding-right: 10px;
}
.navbar li.home
{
	float:left;
	text-decoration:none;
}

.navbar li:not(.login):not(.home) a:hover
{
	background-color:#FDA474;
}

.navbar li.login
{
	float:right;
	background-color:#FDA474;
}

.navbar .active {
	font-weight: bold;
	text-decoration: underline;
}

/*-------------------Card of the Week----*/
#meat{
	color: white;
}
#bottom{
	margin-top: 2em;
}
#cohText{
	float: right;
	width:  400px;
	margin-right: 2em;
	margin-top:auto;
	margin-bottom: auto;
}
#next{
	float: right;
	background-color:#FDA474;
	text-decoration:none;
	color: white;
	padding: 5px;
	width: 50px;
	text-align: center;
}
#back{
	background-color:#FDA474;
	text-decoration:none;
	color: white;
	padding: 5px;
	width: 50px;
	text-align: center;
}

/*-----------------CONTACT FORM*/
.contactForm {
	margin-left: 15px;
	margin-right: 15px;
}

.contactForm label{
	margin-left: 0px;
}
.contactForm input[type="text"],
.contactForm input[type="password"],
.contactForm input[type="email"],
.contactForm textarea{
	width : 100%;
	padding:12px;
	border: 1px solid #ccc;
	border-radius:4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 10px;
	margin-left: 0px;
	resize: vertical;
}

 input[type="submit"]{
	background-color : black;
	color: white;
	padding :12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	margin: auto;
	border: solid #FDA474 1px;
}

input[type="submit"]:hover{
	background-color: #FDA474;
	color: black;

}

.userForm{
	float: left;
	border-radius: 5px;
	border-top: 1px solid #FDA474;
	width: 100%;
}
.userForm h1{
	margin-left: 100px;
	font-size: 40px;
	color: white;
}
.contactForm label{
	margin-left: 0px;
}
/*Alert:JS*/
.contactForm p{
	margin:0 0 10px 0;
	font-size:14px;
	color:red;
	visibility:hidden;
}

.userForm input[type="text"],
.userForm input[type="password"],
.userForm input[type="email"],
.userForm textarea{
	width : 100%;
	padding:12px;
	border: 1px solid #ccc;
	border-radius:4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	margin-left: 0px;
	resize: vertical;
}
/*Alert:JS*/
.userForm p{
	margin:0 0 5px 0;
	font-size:10px;
	color:red;
	visibility:hidden;
}

.userForm{
	float: left;
	border-radius: 5px;
	border-top: 1px solid #FDA474;
	width: 100%;
}

#formHead {
	width: 100%;
	color: white;
	font-size: 90px;
	text-align: center;
	letter-spacing: 12px;
	text-shadow:
	-4px -4px 0 #FDA474,
	4px -4px 0 #FDA474,
	-4px 4px 0 #FDA474,
	4px 4px 0 #FDA474;
	border-top: 1px solid #FDA474;
}

#skype {
	float: left;
	width: 100%;
	height: 120px;
	color: white;
}

#preskype {
	min-height: 105px;
	margin-top: 11px;
	margin-right: 15px;
	float: left;
}
#SkypeButton_Call_godoftoa_1 {
	max-width: 40%;
	min-height: 120px;
	float:left;
	margin: 0px;
}
#SkypeButton_Call_godoftoa_1  img {
	margin:0 !important;
	vertical-align:middle !important;
}


/*--------------ALEX*/
label{
	color: white;
}

table
{
	margin: auto;
	border: hidden #FDA474 15px;
	width: 100%;
}
table th
{
	text-align: left;
	color: white;
}
table h2
{
	text-align: center;
	color: white;
}
#userForm tr{
	margin-left: 10%;
	margin-right: 10%;
}

.header
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
/*-------------------FOOTER*/
.footer
{
	text-align: center;
	border-top: 1px solid #FDA474;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	float: left;
	color: white;
	font-size: 14px;
}
