body
{
	width: 800px;
	margin: auto;
	font-family: Tahoma, Calibri, sans-serif;
	background-color: #222;
}

#main {
	float: left;
	width: 100%;
	background-color: #333;
	padding-left: 1em;
	padding-right: 1em;
}
.menu {
	float: left;
}
/*--------------------------PANEL*/
.navbar
{
	width: 100%;
	float:left;
	list-style-type:none;
	margin:20px 0px 20px 0px; /* top,right,bottom,left*/
	padding:0;
	overflow:hidden;
	background-color:#333;
}
.navbar li:not(.home)
{
	float:left;
	text-decoration:none;
	border: solid #FDA474 1px;
}
.navbar li a
{
	display:block;
	text-align:center;
	padding:14px 30px;
	text-decoration:none;
	color:white;
}
.navbar li.home a
{
	display:block;
	text-align:center;
	padding:0px 0px;
	text-decoration:none;
	color:white;
	padding-right: 10px;
}
.navbar li.home
{
	float:left;
	text-decoration:none;
}

.navbar li:not(.login):not(.home) a:hover
{
	background-color:#FDA474;
}

.navbar li.login
{
	float:right;
	background-color:#FDA474;
}

.navbar .active {
	font-weight: bold;
	text-decoration: underline;
}


/*-------------------CONTENT*/
.contentPanel {
  width: 100%;
  text-align: center;
  float: left;
}

.iconList {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.iconList li {
  float: left;
  padding: 10px;
}

.iconList  img  {
  width: 75%;
  height: 75%;
  /*box-shadow:1px 0px 0px 0px #FDA474, 0px 1px 0px 0px #FDA474, 0px 0px 1px 0px #FDA474,0px 0px 0px 1px #FDA474;
*/}

.iconList .activeImg {
  box-shadow:2px 0px 0px 0px #FDA474, 0px 2px 0px 0px #FDA474, 0px 0px 2px 0px #FDA474,0px 0px 0px 2px #FDA474;
}

#viewframe {
	overflow:hidden;
}


.error {
	display: none;
}

/*---------------Button panel----*/
.druidB {
	background: url("../images/icons/druid.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.hunterB {
	background: url("../images/icons/hunter.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.mageB {
	background: url("../images/icons/mage.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.paladinB {
	background: url("../images/icons/paladin.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.priestB {
	background: url("../images/icons/priest.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.rogueB {
	background: url("../images/icons/rogue.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.shamanB {
	background: url("../images/icons/shaman.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.warlockB {
	background: url("../images/icons/warlock.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}
.warriorB {
	background: url("../images/icons/warrior.png");
	height: 64px;
	width: 64px;
	cursor:pointer;
	border:none;
}

.contentBox {
  text-align: center;
}

.content1
{
	width: 250px;
	height: 250px;
	float: left;
	background-color: #FDA474;
	margin: 8px;
	box-shadow: 0 0 10px white;
}

.blocktext
{
	padding-left: 7px;
	padding-right: 3px;
}


/*----------------HEADER*/
.header
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
/*-------------------FOOTER*/
.footer
{
	text-align: center;
	border-top: 1px solid #FDA474;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	float: left;
	color: white;
	font-size: 14px;
}
