body
{
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	background-color: #FDA474;
	color: #ffefff;
}
header h1
{
	text-align: center;
	background-color: #FDA474;
	
}
main
{
	border: 5px solid #1c1921;
	overflow: hidden;
	height: 400px;	
	background-color: #1c1921;
}
#left
{
	float: left;
	width: 50%;
	height: 95%;
	border-bottom: #1c1921 solid;
	margin-bottom:1%;
	background-color: #FDA474;	
}
#right
{
	float: right;
	width: 49.59%;
	border-left: solid #1c1921;
	margin-right:0;
	margin-left: 0;
	height: 95%;
	border-bottom: #1c1921 solid;
	margin-bottom: 5%;
	background-color: #FDA474;
	
}
.miniHeading
{
	height: 10%;
}	
.miniHeading p
{
	border-bottom: #1c1921 solid;
	margin-top: 0px;
	background-color: #1c1921;
}
.middle
{
	margin-left:25%;
	margin-right: 25%;

	
}
.middle h2
{
	text-align: center;
	padding-bottom: 25px;
	
}
input
{
	margin-bottom: 10px;
}
input[type = submit]
{
	background-color: #1c1921;
	color: #ffefff;
}