body
{
	margin-left: 3em;
	margin-right: 3em;
	height: 400px;
	background-color: #FDA474;
	color: #ffefff;
	width: 700px;
}
header h1
{
	text-align: center;
	background-color: #FDA474;
	height: 15%;
	
}
main
{
	overflow: hidden;
	height: 100%;	
	background-color: #1c1921;
	padding-bottom: 5%;
	width: 700px;
}
#left
{
	float: left;
	width: 342.5px;
	height:100%;
	border-bottom: #1c1921 15px solid;
	background-color: #FDA474;
	border-left: solid 5px #1c1921;
	
}
#right
{
	float: right;
	width: 342.5px;
	border-left: solid 5px #1c1921;
	margin-right:0;
	margin-left: 0;
	height: 100%;
	border-bottom: #1c1921 15px solid;
	background-color: #FDA474;
	border-right: solid 5px #1c1921;
	
}
.miniHeading
{
	height: 10%;
}	
.miniHeading p
{
	border-bottom: #1c1921 solid;
	margin-top: 0px;
	background-color: #1c1921;
}
.middle
{
	margin-left:25%;
	margin-right: 25%;
	height: 90%

	
}
.middle h2
{
	text-align: center;
	padding-bottom: 25px;
	
}
input
{
	margin-bottom: 10px;
}
input[type = submit]
{
	background-color: #1c1921;
	color: #ffefff;
}