body 
{
	width: 800px;
	margin: auto;
	font-family: Tahoma, Calibri, sans-serif;
	background-color: #333;
}
.header 
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
/*--------------------------PANEL*/

.navbar  
{
	list-style-type:none;
	margin:0px 0px 20px 0px; /* left,right,bottom,top*/
	padding:0;
	overflow:hidden;
	background-color:#333;
}
.navbar li:not(.home)
{
	float:left;
	text-decoration:none;
	border: solid #FDA474 1px;
}
.navbar li a:not(.home)
{
    display:block;
	text-align:center;
	padding:14px 30px;
	text-decoration:none;
	color:white;
}
.navbar li a.home
{
	display:block;
	text-align:center;
	padding:0px 0px;
	text-decoration:none;
	color:white;
}
.navbar li a:hover:not(.login)
{
	background-color:#FDA474;
}
.navbar li.login
{
	float:right;
	background-color:#FDA474;
}
/*-------------------CONTENT*/

#content1
{
	width: 250px; 
	float: left;
	background-color: #FDA474;
	margin-right: 25px;
}
#content2 
{
	width: 250px;
	float: left;
	background-color: #FDA474;
	margin-right: 25px;
}
#content3 
{
	width: 250px;
	float: left;
	background-color: #FDA474;
}
.blocktext
{
	padding-left: 7px;
	padding-right: 3px;
}
/*-------------------FOOTER*/
#footer 
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#footer ul
{
	list-style-type: none;
	vertical-align: middle;
	display: table;
}

#footer li 
{
	display: table-cell;
    
    border: 1px solid #bbb;
	padding: 10px 10px;
}