body 
{
	width: 800px;
	margin: auto;
	font-family: Tahoma, Calibri, sans-serif;
	background-color: yellow;
}
#header 
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
/*--------------------------PANEL*/
#panel 
{

}
#panel ul 
{
	list-style-type:none;
	margin:60px 20px 20px 100px;
	padding:0;
	overflow:hidden;
	background-color:#333;
}
#panel li 
{
	float:left;
	text-decoration:none;
}
#panel li a 
{
	
    display:block;
	text-align:center;
	padding:14px 30px;
	text-decoration:none;
	color:white;
}
#panel li a:hover:not(.login)
{
	background-color:#FDA474;
}
#panel li.login
{
	float:right;
	background-color:#FDA474;
}
/*-------------------CONTENT*/
#content 
{
	background-color: blue;
}

/*-------------------FOOTER*/
#footer 
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#footer ul
{
	list-style-type: none;
	vertical-align: middle;
	display: table;
}

#footer li 
{
	display: table-cell;
    float: left;
    border: 1px solid #bbb;
	padding: 10px 10px;
}